/**Fonte**/
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/****Mobile****/
body {
  background-color: #daf2f7;
  max-width: 800px;
}

/***Hero***/
.hero_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 200px;
  margin-top: 100px;
  margin-left: 20px;
}
.hero_skov {
  width: 150px;
}

.hero_vand {
  width: 150px;
}
.hero_by {
  width: 150px;
}
.hero_land {
  width: 150px;
}
/*Knap*/
.landskab_boks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
}
.h1_fp {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
.knap_forår {
  background-color: #baffc9;
  padding: 20px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: auto;
}
.knap_sommer {
  background-color: #ffffb9;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: auto;
}
.knap_vinter {
  background-color: #bae1ff;
  padding: 20px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: auto;
}
.knap_efterår {
  background-color: #ffdfb9;
  padding: 20px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  margin: auto;
}
.img_skov {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  scale: 1.6;
  translate: 50px 110px;
}
.img_vand {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  scale: 1.6;
  translate: 50px 80px;
}
.img_land {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  scale: 1.6;
  translate: 50px 100px;
}
.img_by {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  scale: 1.6;
  translate: 50px 80px;
}

/*IDA*/
.figur {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.talebobble {
  grid-column: 2;
  z-index: 3;
  margin-top: -28%;
  margin-left: -66%;
  margin-right: 38%;
  background-image: url(grafik/bubble.svg);
  background-size: cover;
  width: 168%;
  aspect-ratio: 3000/3000;
}

#mascot {
  background-image: url(grafik/Artboard\ 1.svg);
  background-size: cover;
  aspect-ratio: 3000/3000;
  width: 115%;
  grid-column: 1;
  margin-top: 20%;
  margin-left: -32%;
}

.tale {
  display: flex;
  justify-content: center;
  margin-top: 70%;
}
